flows_raspberrypi.json
[{"id":"ece92070.7bf61","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b8d3c95d.dee6c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f3ee2fcf.6fd6b","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"2a32a520.dab96a","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"d616f356.2575c","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"863f12f4.b0363","type":"mqtt-broker","z":"","name":"","broker":"broker.shiftr.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5c51f219.94251c","type":"ui_group","z":"","name":"Generic Commands","tab":"d017b52d.233348","order":3,"disp":true,"width":"6","collapse":true},{"id":"1a3fc181.8858ce","type":"mqtt-broker","z":"","name":"","broker":"broker.shiftr.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d017b52d.233348","type":"ui_tab","z":"","name":"IOTA Experiment: Photon Statistics of Undulator Radiation Produced by a Single Electron","icon":"dashboard","disabled":false,"hidden":false},{"id":"afa4709d.2c0ce","type":"ui_group","z":"","name":"Picomotor Main Controls","tab":"d017b52d.233348","order":1,"disp":true,"width":"6","collapse":false},{"id":"7dcae7c7.e3a088","type":"ui_group","z":"","name":"Current Motor Positions","tab":"d017b52d.233348","order":2,"disp":true,"width":"6","collapse":false},{"id":"6bd0d374.10892c","type":"ui_group","z":"","name":"Camera","tab":"d017b52d.233348","order":5,"disp":true,"width":"12","collapse":true},{"id":"d322958a.9e31b8","type":"ui_group","z":"","name":"Breadboard PINs","tab":"d017b52d.233348","order":4,"disp":true,"width":"6","collapse":false},{"id":"4c514ed1.5306e","type":"ui_group","z":"","name":"Stepper Motors","tab":"d017b52d.233348","order":6,"disp":true,"width":"6","collapse":false},{"id":"b789221f.3ee83","type":"function","z":"ece92070.7bf61","name":"Input Converter","func":"var msg1 = msg;\nmsg1.payload =  msg.payload + \"\\r\\n\\r\\n\"\n// \"GET / HTTP/1.1\\r\\n\\r\\n\"\nreturn msg1;","outputs":1,"noerr":0,"x":690,"y":319,"wires":[["6638c805.c06308"]]},{"id":"d720a1ca.55e81","type":"function","z":"ece92070.7bf61","name":"Response Converter","func":"msg.payload = msg.payload.toString('utf8');\nvar msg1 = msg.payload;\nmsg1 = msg1.substr(5);\nmsg.payload = msg1;\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":300,"wires":[["7b031ae4.5171e4"]]},{"id":"7b031ae4.5171e4","type":"ui_text","z":"ece92070.7bf61","group":"5c51f219.94251c","order":4,"width":0,"height":0,"name":"","label":"Response received:","format":"{{msg.payload}}","layout":"col-center","x":1220,"y":159,"wires":[]},{"id":"274df917.b4da66","type":"ui_text_input","z":"ece92070.7bf61","name":"","label":"Type command and press enter:","tooltip":"Examples: *idn? ve? ipaddr?","group":"5c51f219.94251c","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":178,"y":151,"wires":[["ef4eaa6.655a058","b789221f.3ee83"]]},{"id":"ef4eaa6.655a058","type":"ui_text","z":"ece92070.7bf61","group":"5c51f219.94251c","order":3,"width":0,"height":0,"name":"","label":"Command entered:","format":"{{msg.payload}}","layout":"row-spread","x":508,"y":151,"wires":[]},{"id":"153254.58553dad","type":"ui_button","z":"ece92070.7bf61","name":"","group":"afa4709d.2c0ce","order":4,"width":0,"height":0,"passthru":false,"label":"Stop Motion","tooltip":"","color":"","bgcolor":"","icon":"","payload":"AB","payloadType":"str","topic":"","x":108,"y":311,"wires":[["b789221f.3ee83"]]},{"id":"10edca3d.073da6","type":"ui_dropdown","z":"ece92070.7bf61","name":"","label":"Motor:","tooltip":"","place":"Select option","group":"afa4709d.2c0ce","order":2,"width":"0","height":"0","passthru":true,"options":[{"label":"1","value":"1","type":"str"},{"label":"2","value":"2","type":"str"},{"label":"3","value":"3","type":"str"},{"label":"4","value":"4","type":"str"}],"payload":"","topic":"","x":202,"y":539,"wires":[["f2ffea3c.67f718"]],"outputLabels":["msg.payload"]},{"id":"1a57ec16.43e014","type":"inject","z":"ece92070.7bf61","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":82,"y":539,"wires":[["10edca3d.073da6"]]},{"id":"f6850bf8.87cc08","type":"ui_button","z":"ece92070.7bf61","name":"","group":"afa4709d.2c0ce","order":5,"width":0,"height":0,"passthru":false,"label":"Counterclockwise","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-","payloadType":"str","topic":"","x":110,"y":367,"wires":[["7f8a7cf8.61b3e4"]]},{"id":"f2ffea3c.67f718","type":"change","z":"ece92070.7bf61","name":"Set Motor Number","rules":[{"t":"set","p":"MotorNumber","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":362,"y":539,"wires":[[]]},{"id":"7f8a7cf8.61b3e4","type":"function","z":"ece92070.7bf61","name":"Command To Move","func":"var msg1 = msg;\nmsg1.payload = context.flow.get(\"MotorNumber\")+\n\"PR\"+msg.payload+context.flow.get(\"RelativeSteps\");\nreturn msg1;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["b789221f.3ee83"]]},{"id":"f8b320eb.952de","type":"ui_button","z":"ece92070.7bf61","name":"","group":"afa4709d.2c0ce","order":6,"width":0,"height":0,"passthru":false,"label":"Clockwise","tooltip":"","color":"","bgcolor":"","icon":"","payload":" ","payloadType":"str","topic":"","x":80,"y":407,"wires":[["7f8a7cf8.61b3e4"]]},{"id":"5484bba8.26c374","type":"ui_text_input","z":"ece92070.7bf61","name":"","label":"Relative Steps:","tooltip":"","group":"afa4709d.2c0ce","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":240,"y":619,"wires":[["972b78f9.982598"]]},{"id":"bf381e26.606ea","type":"inject","z":"ece92070.7bf61","name":"","topic":"","payload":"2000000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":80,"y":619,"wires":[["5484bba8.26c374"]]},{"id":"972b78f9.982598","type":"change","z":"ece92070.7bf61","name":"Set  RelativeSteps","rules":[{"t":"set","p":"RelativeSteps","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":619,"wires":[[]]},{"id":"40ab9ad2.3124a4","type":"inject","z":"ece92070.7bf61","name":"Inquire motor positions","topic":"","payload":"1TP?;2TP?;3TP?;4TP?","payloadType":"str","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":630,"y":439,"wires":[["d5730406.11a8e8"]]},{"id":"d5730406.11a8e8","type":"function","z":"ece92070.7bf61","name":"Input Converter","func":"var msg1 = msg;\nmsg1.payload =  msg.payload + \"\\r\\n\\r\\n\"\n// \"GET / HTTP/1.1\\r\\n\\r\\n\"\nreturn msg1;","outputs":1,"noerr":0,"x":860,"y":439,"wires":[["de0c2779.bac128"]]},{"id":"2d1afce2.6b6d24","type":"ui_template","z":"ece92070.7bf61","group":"5c51f219.94251c","name":"Display Controller Manual Link","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":500,"y":80,"wires":[[]]},{"id":"8b79225e.00c38","type":"inject","z":"ece92070.7bf61","name":"Inject Controller Manual Link","topic":"","payload":"<a href=\"https://www.newport.com/medias/sys_master/images/images/h9a/h38/9100236390430/90066734D-8742-Manual.pdf\" target=\"_blank\">Help (list of all available commands)</a>","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":80,"wires":[["2d1afce2.6b6d24"]]},{"id":"975b5862.da5038","type":"function","z":"ece92070.7bf61","name":"Get Motor PosList","func":"var poslist = msg.payload.split(\";\");\nreturn {payload:poslist};","outputs":1,"noerr":0,"x":800,"y":560,"wires":[["3200d65d.1343ca"]]},{"id":"3200d65d.1343ca","type":"change","z":"ece92070.7bf61","name":"Set MotorPosList","rules":[{"t":"set","p":"MotorPosList","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":540,"wires":[[]]},{"id":"f0fa02d7.2b24","type":"ui_text","z":"ece92070.7bf61","group":"7dcae7c7.e3a088","order":7,"width":0,"height":0,"name":"Motor 2 Pos","label":"Motor 2:","format":"{{msg.payload}}","layout":"row-left","x":1170,"y":680,"wires":[]},{"id":"28c170e3.76d03","type":"ui_text","z":"ece92070.7bf61","group":"7dcae7c7.e3a088","order":8,"width":0,"height":0,"name":"Motor 3 Pos","label":"Motor 3:","format":"{{msg.payload}}","layout":"row-left","x":1170,"y":720,"wires":[]},{"id":"6a653f65.51dd4","type":"ui_text","z":"ece92070.7bf61","group":"7dcae7c7.e3a088","order":9,"width":0,"height":0,"name":"Motor 4 Pos","label":"Motor 4:","format":"{{msg.payload}}","layout":"row-left","x":1170,"y":760,"wires":[]},{"id":"ca099311.91f22","type":"inject","z":"ece92070.7bf61","name":"Inquire MotorPosList","topic":"","payload":"MotorPosList","payloadType":"flow","repeat":"0.5","crontab":"","once":true,"onceDelay":"0.5","x":681,"y":700,"wires":[["c6234ecc.d9422"]]},{"id":"c6234ecc.d9422","type":"function","z":"ece92070.7bf61","name":"Split MotorPosList","func":"var msg0 = {payload:msg.payload[0]};\nvar msg1 = {payload:msg.payload[1]};\nvar msg2 = {payload:msg.payload[2]};\nvar msg3 = {payload:msg.payload[3]};\nreturn [msg0,msg1,msg2,msg3];","outputs":4,"noerr":0,"x":950,"y":700,"wires":[["8a03cc69.8f20e"],["f0fa02d7.2b24"],["28c170e3.76d03"],["6a653f65.51dd4"]]},{"id":"896c830b.03456","type":"function","z":"ece92070.7bf61","name":"Response Converter","func":"msg.payload = msg.payload.toString('utf8');\nvar msg1 = msg.payload;\nmsg1 = msg1.substr(6);\nmsg.payload = msg1;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":440,"wires":[["975b5862.da5038"]]},{"id":"e978084.a23dff8","type":"ui_button","z":"ece92070.7bf61","name":"","group":"afa4709d.2c0ce","order":7,"width":0,"height":0,"passthru":false,"label":"Set To Zero","tooltip":"Set current position of motor to zero","color":"","bgcolor":"#87A980","icon":"","payload":"true","payloadType":"bool","topic":"","x":90,"y":460,"wires":[["4abb5f9b.35847"]]},{"id":"4abb5f9b.35847","type":"function","z":"ece92070.7bf61","name":"Set Current Position to Zero","func":"var pl = context.flow.get(\"MotorNumber\")+\"DH\";\nreturn {payload:pl};","outputs":1,"noerr":0,"x":300,"y":460,"wires":[["b789221f.3ee83"]]},{"id":"19b8a4bc.0efa9b","type":"ui_template","z":"ece92070.7bf61","group":"6bd0d374.10892c","name":"Camera Video Stream","order":0,"width":"0","height":"0","format":"<img src=\"http://lobach-pi.fnal.gov:8081/\" />","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":340,"y":760,"wires":[[]]},{"id":"abe0a9f2.1b15f8","type":"rpi-gpio out","z":"ece92070.7bf61","name":"","pin":"29","set":true,"level":"1","freq":"","out":"out","x":320,"y":900,"wires":[]},{"id":"f443b08c.4385d","type":"ui_switch","z":"ece92070.7bf61","name":"","label":"LED Off/On","tooltip":"","group":"d322958a.9e31b8","order":1,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":900,"wires":[["abe0a9f2.1b15f8"]]},{"id":"fb7f3b49.bc9c78","type":"rpi-gpio out","z":"ece92070.7bf61","name":"","pin":"23","set":true,"level":"1","freq":"","out":"out","x":330,"y":1040,"wires":[]},{"id":"a78d5b51.bc2108","type":"ui_switch","z":"ece92070.7bf61","name":"","label":"SPAD Power Off/On","tooltip":"","group":"d322958a.9e31b8","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":1020,"wires":[["fb7f3b49.bc9c78"]]},{"id":"b848edc9.bcfe1","type":"ui_switch","z":"ece92070.7bf61","name":"","label":"Shutter On/Off","tooltip":"","group":"d322958a.9e31b8","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":1120,"wires":[["a8be456f.4f3a28"]]},{"id":"a8be456f.4f3a28","type":"rpi-gpio out","z":"ece92070.7bf61","name":"","pin":"21","set":true,"level":"1","freq":"","out":"out","x":350,"y":1160,"wires":[]},{"id":"3f6f4a5f.f46606","type":"ui_text","z":"ece92070.7bf61","group":"afa4709d.2c0ce","order":1,"width":"6","height":"2","name":"","label":"Hint:","format":"It takes 1.4e6 steps and 10 min to move 0.5 inch toward the lens (1.15 away from the lens)","layout":"col-center","x":90,"y":260,"wires":[]},{"id":"6638c805.c06308","type":"tcp request","z":"ece92070.7bf61","server":"10.1.1.199","port":"23","out":"time","splitc":"200","name":"","x":880,"y":319,"wires":[["d720a1ca.55e81"]]},{"id":"de0c2779.bac128","type":"tcp request","z":"ece92070.7bf61","server":"10.1.1.199","port":"23","out":"time","splitc":"200","name":"","x":1050,"y":440,"wires":[["896c830b.03456"]]},{"id":"8a03cc69.8f20e","type":"ui_text","z":"ece92070.7bf61","group":"7dcae7c7.e3a088","order":6,"width":0,"height":0,"name":"Motor 1 Pos","label":"Motor 1:","format":"{{msg.payload}}","layout":"row-left","x":1180,"y":640,"wires":[]},{"id":"2a337598.b18daa","type":"ui_text","z":"ece92070.7bf61","group":"7dcae7c7.e3a088","order":2,"width":0,"height":0,"name":"","label":"Motor 1: Clockwise == X++","format":"{{msg.payload}}","layout":"row-left","x":1440,"y":640,"wires":[]},{"id":"324a51b5.d129fe","type":"ui_text","z":"ece92070.7bf61","group":"7dcae7c7.e3a088","order":3,"width":0,"height":0,"name":"","label":"Motor 2: Clockwise == Y++","format":"","layout":"row-left","x":1440,"y":680,"wires":[]},{"id":"2cbfbb3d.d27764","type":"ui_text","z":"ece92070.7bf61","group":"7dcae7c7.e3a088","order":4,"width":0,"height":0,"name":"","label":"Motor 3: Clockwise == X--","format":"","layout":"row-left","x":1430,"y":720,"wires":[]},{"id":"c6d569b5.f53988","type":"ui_text","z":"ece92070.7bf61","group":"7dcae7c7.e3a088","order":5,"width":0,"height":0,"name":"","label":"Motor 4: Clockwise == Z++","format":"","layout":"row-left","x":1440,"y":760,"wires":[]},{"id":"47622183.b864","type":"ui_switch","z":"ece92070.7bf61","name":"","label":"direction","tooltip":"","group":"4c514ed1.5306e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":1320,"wires":[["637c1286.5bdf4c"]]},{"id":"637c1286.5bdf4c","type":"rpi-gpio out","z":"ece92070.7bf61","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":450,"y":1280,"wires":[]},{"id":"1dc9ddb5.8d4e12","type":"rpi-gpio out","z":"ece92070.7bf61","name":"","pin":"38","set":true,"level":"0","freq":"","out":"out","x":450,"y":1400,"wires":[]},{"id":"1f459cb8.53f043","type":"ui_switch","z":"ece92070.7bf61","name":"","label":"One Step","tooltip":"","group":"4c514ed1.5306e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":1420,"wires":[["1dc9ddb5.8d4e12"]]},{"id":"e19ed0a0.6e3a8","type":"ui_switch","z":"ece92070.7bf61","name":"","label":"Reset","tooltip":"","group":"4c514ed1.5306e","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":1520,"wires":[["ac1bfd9a.54f6"]]},{"id":"ac1bfd9a.54f6","type":"rpi-gpio out","z":"ece92070.7bf61","name":"","pin":"36","set":true,"level":"0","freq":"","out":"out","x":470,"y":1540,"wires":[]}]