nodered_backup_12_17_2020.txt
[{"id":"ece92070.7bf61","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b789221f.3ee83","type":"function","z":"ece92070.7bf61","name":"Input Converter","func":"var msg1 = msg;\nmsg1.payload =  msg.payload + \"\\r\\n\\r\\n\"\n// \"GET / HTTP/1.1\\r\\n\\r\\n\"\nreturn msg1;","outputs":1,"noerr":0,"x":690,"y":319,"wires":[["6638c805.c06308"]]},{"id":"d720a1ca.55e81","type":"function","z":"ece92070.7bf61","name":"Response Converter","func":"msg.payload = msg.payload.toString('utf8');\nvar msg1 = msg.payload;\nmsg1 = msg1.substr(6);\nmsg.payload = msg1;\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":300,"wires":[["a44c08b0.73c948"]]},{"id":"153254.58553dad","type":"ui_button","z":"ece92070.7bf61","name":"","group":"afa4709d.2c0ce","order":4,"width":0,"height":0,"passthru":false,"label":"Stop Motion","tooltip":"","color":"","bgcolor":"","icon":"","payload":"AB","payloadType":"str","topic":"","x":108,"y":311,"wires":[["b789221f.3ee83"]]},{"id":"10edca3d.073da6","type":"ui_dropdown","z":"ece92070.7bf61","name":"","label":"Motor:","tooltip":"","place":"Select option","group":"afa4709d.2c0ce","order":2,"width":"0","height":"0","passthru":true,"options":[{"label":"1","value":"1","type":"str"},{"label":"2","value":"2","type":"str"},{"label":"3","value":"3","type":"str"},{"label":"4","value":"4","type":"str"}],"payload":"","topic":"","x":202,"y":539,"wires":[["f2ffea3c.67f718"]],"outputLabels":["msg.payload"]},{"id":"1a57ec16.43e014","type":"inject","z":"ece92070.7bf61","name":"","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":82,"y":539,"wires":[["10edca3d.073da6"]]},{"id":"f6850bf8.87cc08","type":"ui_button","z":"ece92070.7bf61","name":"","group":"afa4709d.2c0ce","order":5,"width":0,"height":0,"passthru":true,"label":"Counterclockwise","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-","payloadType":"str","topic":"","x":110,"y":367,"wires":[["7f8a7cf8.61b3e4"]]},{"id":"f2ffea3c.67f718","type":"change","z":"ece92070.7bf61","name":"Set Motor Number","rules":[{"t":"set","p":"MotorNumber","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":362,"y":539,"wires":[[]]},{"id":"7f8a7cf8.61b3e4","type":"function","z":"ece92070.7bf61","name":"Command To Move","func":"var msg1 = msg;\nmsg1.payload = context.flow.get(\"MotorNumber\")+\n\"PR\"+msg.payload+context.flow.get(\"RelativeSteps\");\nreturn msg1;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["b789221f.3ee83","3c1f4d8d.1a68a2"]]},{"id":"f8b320eb.952de","type":"ui_button","z":"ece92070.7bf61","name":"","group":"afa4709d.2c0ce","order":6,"width":0,"height":0,"passthru":true,"label":"Clockwise","tooltip":"","color":"","bgcolor":"","icon":"","payload":" ","payloadType":"str","topic":"","x":80,"y":407,"wires":[["7f8a7cf8.61b3e4"]]},{"id":"5484bba8.26c374","type":"ui_text_input","z":"ece92070.7bf61","name":"","label":"Relative Steps:","tooltip":"It takes 1.4e6 steps and 10 min to move 0.5 inch toward the lens (1.15 away from the lens)","group":"afa4709d.2c0ce","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":240,"y":619,"wires":[["972b78f9.982598"]]},{"id":"bf381e26.606ea","type":"inject","z":"ece92070.7bf61","name":"","topic":"","payload":"2000000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":80,"y":619,"wires":[["5484bba8.26c374"]]},{"id":"972b78f9.982598","type":"change","z":"ece92070.7bf61","name":"Set  RelativeSteps","rules":[{"t":"set","p":"RelativeSteps","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":619,"wires":[[]]},{"id":"40ab9ad2.3124a4","type":"inject","z":"ece92070.7bf61","name":"Inquire motor positions","topic":"","payload":"1TP?;2TP?;3TP?;4TP?","payloadType":"str","repeat":"0.5","crontab":"","once":true,"onceDelay":"5","x":630,"y":439,"wires":[["d5730406.11a8e8"]]},{"id":"d5730406.11a8e8","type":"function","z":"ece92070.7bf61","name":"Input Converter","func":"var msg1 = msg;\nmsg1.payload =  msg.payload + \"\\r\\n\\r\\n\"\n// \"GET / HTTP/1.1\\r\\n\\r\\n\"\nreturn msg1;","outputs":1,"noerr":0,"x":860,"y":439,"wires":[["de0c2779.bac128"]]},{"id":"975b5862.da5038","type":"function","z":"ece92070.7bf61","name":"Get Motor PosList","func":"var poslist = msg.payload.split(\";\");\nreturn {payload:poslist};","outputs":1,"noerr":0,"x":800,"y":560,"wires":[["3200d65d.1343ca"]]},{"id":"3200d65d.1343ca","type":"change","z":"ece92070.7bf61","name":"Set MotorPosList","rules":[{"t":"set","p":"MotorPosList","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":540,"wires":[[]]},{"id":"f0fa02d7.2b24","type":"ui_text","z":"ece92070.7bf61","group":"7dcae7c7.e3a088","order":7,"width":0,"height":0,"name":"Motor 2 Pos","label":"Motor 2:","format":"{{msg.payload}}","layout":"row-left","x":1170,"y":680,"wires":[]},{"id":"28c170e3.76d03","type":"ui_text","z":"ece92070.7bf61","group":"7dcae7c7.e3a088","order":8,"width":0,"height":0,"name":"Motor 3 Pos","label":"Motor 3:","format":"{{msg.payload}}","layout":"row-left","x":1170,"y":720,"wires":[]},{"id":"6a653f65.51dd4","type":"ui_text","z":"ece92070.7bf61","group":"7dcae7c7.e3a088","order":9,"width":0,"height":0,"name":"Motor 4 Pos","label":"Motor 4:","format":"{{msg.payload}}","layout":"row-left","x":1170,"y":760,"wires":[]},{"id":"ca099311.91f22","type":"inject","z":"ece92070.7bf61","name":"Inquire MotorPosList","topic":"","payload":"MotorPosList","payloadType":"flow","repeat":"0.5","crontab":"","once":true,"onceDelay":"3","x":681,"y":700,"wires":[["c6234ecc.d9422"]]},{"id":"c6234ecc.d9422","type":"function","z":"ece92070.7bf61","name":"Split MotorPosList","func":"var msg0 = {payload:msg.payload[0]};\nvar msg1 = {payload:msg.payload[1]};\nvar msg2 = {payload:msg.payload[2]};\nvar msg3 = {payload:msg.payload[3]};\nreturn [msg0,msg1,msg2,msg3];","outputs":4,"noerr":0,"x":950,"y":700,"wires":[["8a03cc69.8f20e"],["f0fa02d7.2b24"],["28c170e3.76d03"],["6a653f65.51dd4"]]},{"id":"896c830b.03456","type":"function","z":"ece92070.7bf61","name":"Response Converter","func":"msg.payload = msg.payload.toString('utf8');\nvar msg1 = msg.payload;\nmsg1 = msg1.substr(6,msg1.length-6-2);\nmsg.payload = msg1;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":440,"wires":[["975b5862.da5038","aae4e96a.4d3a7"]]},{"id":"e978084.a23dff8","type":"ui_button","z":"ece92070.7bf61","name":"","group":"afa4709d.2c0ce","order":7,"width":0,"height":0,"passthru":false,"label":"Set To Zero","tooltip":"Set current position of motor to zero","color":"","bgcolor":"#87A980","icon":"","payload":"true","payloadType":"bool","topic":"","x":90,"y":460,"wires":[["4abb5f9b.35847"]]},{"id":"4abb5f9b.35847","type":"function","z":"ece92070.7bf61","name":"Set Current Position to Zero","func":"var pl = context.flow.get(\"MotorNumber\")+\"DH\";\nreturn {payload:pl};","outputs":1,"noerr":0,"x":300,"y":460,"wires":[["b789221f.3ee83"]]},{"id":"abe0a9f2.1b15f8","type":"rpi-gpio out","z":"ece92070.7bf61","name":"","pin":"29","set":true,"level":"1","freq":"","out":"out","x":500,"y":900,"wires":[]},{"id":"f443b08c.4385d","type":"ui_switch","z":"ece92070.7bf61","name":"","label":"LED Off/On","tooltip":"","group":"d322958a.9e31b8","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":900,"wires":[["abe0a9f2.1b15f8"]]},{"id":"fb7f3b49.bc9c78","type":"rpi-gpio out","z":"ece92070.7bf61","name":"","pin":"23","set":true,"level":"1","freq":"","out":"out","x":500,"y":1020,"wires":[]},{"id":"a78d5b51.bc2108","type":"ui_switch","z":"ece92070.7bf61","name":"","label":"SPAD Power Off/On","tooltip":"","group":"d322958a.9e31b8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":300,"y":1020,"wires":[["fb7f3b49.bc9c78"]]},{"id":"b848edc9.bcfe1","type":"ui_switch","z":"ece92070.7bf61","name":"","label":"Shutter On/Off","tooltip":"","group":"d322958a.9e31b8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":1120,"wires":[["a8be456f.4f3a28"]]},{"id":"a8be456f.4f3a28","type":"rpi-gpio out","z":"ece92070.7bf61","name":"","pin":"21","set":true,"level":"1","freq":"","out":"out","x":500,"y":1120,"wires":[]},{"id":"6638c805.c06308","type":"tcp request","z":"ece92070.7bf61","server":"10.1.1.199","port":"23","out":"time","splitc":"200","name":"","x":880,"y":319,"wires":[["d720a1ca.55e81"]]},{"id":"de0c2779.bac128","type":"tcp request","z":"ece92070.7bf61","server":"10.1.1.199","port":"23","out":"time","splitc":"400","name":"","x":1050,"y":440,"wires":[["896c830b.03456"]]},{"id":"8a03cc69.8f20e","type":"ui_text","z":"ece92070.7bf61","group":"7dcae7c7.e3a088","order":6,"width":0,"height":0,"name":"Motor 1 Pos","label":"Motor 1:","format":"{{msg.payload}}","layout":"row-left","x":1180,"y":640,"wires":[]},{"id":"2a337598.b18daa","type":"ui_text","z":"ece92070.7bf61","group":"7dcae7c7.e3a088","order":2,"width":0,"height":0,"name":"","label":"Motor 1: Clockwise == Y--","format":"{{msg.payload}}","layout":"row-left","x":1440,"y":640,"wires":[]},{"id":"324a51b5.d129fe","type":"ui_text","z":"ece92070.7bf61","group":"7dcae7c7.e3a088","order":3,"width":0,"height":0,"name":"","label":"Motor 2: Disconnected","format":"","layout":"row-left","x":1430,"y":680,"wires":[]},{"id":"2cbfbb3d.d27764","type":"ui_text","z":"ece92070.7bf61","group":"7dcae7c7.e3a088","order":4,"width":0,"height":0,"name":"","label":"Motor 3: Clockwise == Z--","format":"","layout":"row-left","x":1440,"y":720,"wires":[]},{"id":"c6d569b5.f53988","type":"ui_text","z":"ece92070.7bf61","group":"7dcae7c7.e3a088","order":5,"width":0,"height":0,"name":"","label":"Motor 4: Clockwise == X++","format":"","layout":"row-left","x":1440,"y":760,"wires":[]},{"id":"854886bd.4fbd08","type":"inject","z":"ece92070.7bf61","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":1020,"wires":[["f443b08c.4385d","a78d5b51.bc2108","b848edc9.bcfe1","520445aa.6f7bdc"]]},{"id":"6048a460.bada64","type":"udp in","z":"ece92070.7bf61","name":"","iface":"","port":"5005","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":420,"y":1360,"wires":[["c050d49a.bd95d"]]},{"id":"bfd6d1b3.646888","type":"ui_gauge","z":"ece92070.7bf61","name":"","group":"1d9c5224.25db86","order":1,"width":0,"height":0,"gtype":"gage","title":"N:ITP4RC[1]","label":"cps","format":"{{value}}","min":0,"max":"240000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":1360,"wires":[]},{"id":"c050d49a.bd95d","type":"function","z":"ece92070.7bf61","name":"str to int","func":"msg1=msg;\nmsg1.payload = parseInt(msg.payload);\nreturn msg1;","outputs":1,"noerr":0,"x":590,"y":1360,"wires":[["bfd6d1b3.646888"]]},{"id":"6fa5840.becb87c","type":"ui_template","z":"ece92070.7bf61","d":true,"group":"6bd0d374.10892c","name":"Camera Video Stream","order":1,"width":0,"height":0,"format":"<img src=\"http://lobach-pi2.fnal.gov:8081/\"/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":420,"y":840,"wires":[[]]},{"id":"ff7758c5.b226f8","type":"ui_text_input","z":"ece92070.7bf61","name":"","label":"Generic command:","tooltip":"","group":"afa4709d.2c0ce","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":450,"y":160,"wires":[["b789221f.3ee83"]]},{"id":"a44c08b0.73c948","type":"ui_text","z":"ece92070.7bf61","group":"afa4709d.2c0ce","order":8,"width":0,"height":0,"name":"","label":"Response:","format":"{{msg.payload}}","layout":"row-spread","x":1260,"y":180,"wires":[]},{"id":"aae4e96a.4d3a7","type":"udp out","z":"ece92070.7bf61","name":"picomotor positions udp out","addr":"131.225.120.39","iface":"","port":"6005","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1610,"y":440,"wires":[]},{"id":"520445aa.6f7bdc","type":"ui_switch","z":"ece92070.7bf61","name":"","label":"Picomotor Controller Off/On","tooltip":"","group":"d322958a.9e31b8","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":1220,"wires":[["b95278eb.bb0668"]]},{"id":"b95278eb.bb0668","type":"rpi-gpio out","z":"ece92070.7bf61","name":"","pin":"19","set":true,"level":"1","freq":"","out":"out","x":560,"y":1220,"wires":[]},{"id":"24278d20.29815a","type":"ui_button","z":"ece92070.7bf61","name":"","group":"e913777d.df917","order":1,"width":0,"height":0,"passthru":false,"label":"Left","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"str","topic":"","x":130,"y":40,"wires":[["10edca3d.073da6","14768b0a.65ca7d"]]},{"id":"14768b0a.65ca7d","type":"delay","z":"ece92070.7bf61","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":80,"y":140,"wires":[["f8b320eb.952de"]]},{"id":"9431fa08.26bc4","type":"ui_button","z":"ece92070.7bf61","name":"","group":"e913777d.df917","order":2,"width":0,"height":0,"passthru":false,"label":"Right","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"str","topic":"","x":290,"y":40,"wires":[["2682fb52.cc7f44","10edca3d.073da6"]]},{"id":"2682fb52.cc7f44","type":"delay","z":"ece92070.7bf61","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":60,"wires":[["f6850bf8.87cc08"]]},{"id":"59fed48e.26ca6c","type":"ui_button","z":"ece92070.7bf61","name":"","group":"e913777d.df917","order":3,"width":0,"height":0,"passthru":false,"label":"Up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":630,"y":40,"wires":[["5dd53fe2.75d2b","10edca3d.073da6"]]},{"id":"5dd53fe2.75d2b","type":"delay","z":"ece92070.7bf61","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":60,"wires":[["f6850bf8.87cc08"]]},{"id":"84c84a8b.7a0628","type":"ui_button","z":"ece92070.7bf61","name":"","group":"e913777d.df917","order":4,"width":0,"height":0,"passthru":false,"label":"Down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":1010,"y":60,"wires":[["b6def7da.374158","10edca3d.073da6"]]},{"id":"b6def7da.374158","type":"delay","z":"ece92070.7bf61","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":180,"wires":[["f8b320eb.952de"]]},{"id":"7fc95a44.54a1ac","type":"ui_text","z":"ece92070.7bf61","group":"e913777d.df917","order":5,"width":0,"height":0,"name":"","label":"Last move:","format":"{{msg.payload}}","layout":"row-spread","x":1310,"y":100,"wires":[]},{"id":"3c1f4d8d.1a68a2","type":"function","z":"ece92070.7bf61","name":"Convert to Left,Right,Up,Down","func":"var s = msg.payload.split(\"PR\");\nvar motNum = s[0];\nvar steps = parseInt(s[1]);\nif (motNum == \"4\") {\n    if (steps >=0) {\n        msg.payload = \"Left\";\n    }\n    if (steps <0) {\n        msg.payload = \"Right\";\n    }\n}\nif (motNum == \"1\") {\n    if (steps >=0) {\n        msg.payload = \"Down\";\n    }\n    if (steps <0) {\n        msg.payload = \"Up\";\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":140,"wires":[["7fc95a44.54a1ac"]]},{"id":"9593b3c6.e2185","type":"inject","z":"ece92070.7bf61","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"1","x":90,"y":1320,"wires":[["520445aa.6f7bdc"]]},{"id":"afa4709d.2c0ce","type":"ui_group","z":"","name":"Picomotor Main Controls","tab":"d017b52d.233348","order":2,"disp":true,"width":"6","collapse":false},{"id":"7dcae7c7.e3a088","type":"ui_group","z":"","name":"Current Picomotor Positions","tab":"d017b52d.233348","order":3,"disp":true,"width":"6","collapse":false},{"id":"d322958a.9e31b8","type":"ui_group","z":"","name":"Breadboard PINs","tab":"d017b52d.233348","order":6,"disp":true,"width":"6","collapse":false},{"id":"1d9c5224.25db86","type":"ui_group","z":"","name":"SPAD count rate","tab":"d017b52d.233348","order":1,"disp":true,"width":"6","collapse":false},{"id":"6bd0d374.10892c","type":"ui_group","z":"","name":"Camera","tab":"d017b52d.233348","order":7,"disp":true,"width":"12","collapse":true},{"id":"e913777d.df917","type":"ui_group","z":"","name":"Convenient picomotor controls","tab":"d017b52d.233348","order":4,"disp":true,"width":"6","collapse":false},{"id":"d017b52d.233348","type":"ui_tab","z":"","name":"IOTA Experiment: Photon Statistics of Undulator Radiation Produced by a Single Electron","icon":"dashboard","disabled":false,"hidden":false}]